venv/
.env
cookies_snapshot/
trying.py
trying2.py

chroma_db_swe1_batch_0/
chroma_db_swe1_batch_1/
chroma_db_swe1_batch_2/
chroma_db_swe1_batch_3/
chroma_db_swe1_batch_4/
chroma_db_swe1_batch_5/
chroma_db_swe1_batch_6/
chroma_db_swe1_batch_7/
chroma_db1/

test_chroma_db_batch_0/
test_chroma_db_batch_1/
test_chroma_db_batch_2/
test_chroma_db_batch_3/
test_chroma_db_batch_4/
test_chroma_db_batch_5/
test_chroma_db_batch_6/
test_chroma_db_batch_7/
test_chroma_db_batch_8/
test_chroma_db_batch_9/
test_chroma_db_batch_10/
test_chroma_db_batch_11/
test_chroma_db_batch_12/
test_chroma_db_batch_13/
test_chroma_db_batch_14/
test_chroma_db_batch_15/

subpage_texts/

yt.py
